.article_0 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 7px;
}
.but_1 {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}